body {
  min-height: 720px;
}

.navbar-static-top {
    margin-bottom: 19px;
    background-color:  #eeeeee;
    border-color: #dddddd;
    padding: 0px;
}

.navbar-default .navbar-brand {
    color: #000000;
    font-size: 14px;
    letter-spacing: 2px;
}

.navbar-default .navbar-brand:hover {
    color: #3498db;
    font-size: 14px;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #3498db;
    font-size: 14px;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
    background-color: #050505 !important;
}

.navbar-default .navbar-toggle:hover {
    background-color: #101010 !important;
}
