body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;
    background-color: #1f1f1f;
    border-color: #aaaaaa;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #777;
}

.navbar-default .navbar-nav>li>a: {
    color: blue;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
    background-color: #050505 !important;
}

.navbar-default .navbar-toggle:hover {
    background-color: #101010 !important;
}
