{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="row" style="background: #ffffff; margin-bottom:30px;">
    <div class="col-sm-2">
        <h1>About</h1>
        <b>S</b>ource</br>
        Code</br>
        Analysis and</br>
        Manipulation</br>
        </br>
        Surveillance</br>
        <b>C</b>ontrol</br>
        Alarm</br>
        Maintenance</br>
        </br>
        Scientific</br>
        Certainty</br>
        <b>A</b>rgumentation</br>
        Method</br>
        </br>
        Scale</br>
        Combat</br>
        Aircraft</br>
        <b>M</b>odelers</br>
    </div>
    <div class="col-sm-10">
        <h1><img src='{% static "img/baywatch.jpg" %}' class='img-responsive' /></h1>
    </div>
</div>
</br>
</br>
</br>
</br>
{% endblock %}
