{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <center><h1>Our Work</h1></center>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h3>Software</h3>
        <img src='{% static "img/software.png" %}' class='img-responsive' />
        <hr>
        <img src='{% static "img/osciloscope.png" %}' class='img-responsive' />
    </div>
    <div class="col-sm-6">
        <h3>Games</h3>
        <img src='{% static "img/ascii.png" %}' class='img-responsive' />
        <hr>
        <img src='{% static "img/Untitled.png" %}' class='img-responsive' />
    </div>
</div>
</br>
<div class="row" style="margin-bottom:30px;">
    <div class="col-sm-6">
        <h3>Electrical schematics</h3>
        <img src='{% static "img/schematic.png" %}' class='img-responsive' />
        <hr>
        <center><img src='{% static "img/rb.png" %}' class='img-responsive' /></center>
    </div>
    <div class="col-sm-6">
        <h3>Drawings</h3>
        <img src='{% static "img/draw1.png" %}' class='img-responsive' />
        <hr>
        <img src='{% static "img/draw2.png" %}' class='img-responsive' />
    </div>
</div>

{% endblock %}
